$primary: rgb(150, 104, 20);
$secondary: rgb(105, 95, 93);
$danger: rgb(199, 26, 26);
$success: rgb(57, 128, 17);

$light-square: rgb(250, 211, 167);
$dark-square: rgb(117, 65, 5);

$square-size: 45px;
